* {
    margin: 0;
    padding: 0;
}

body {
    font-family: comic sans ms;
    font-size: 14px;
}

.page {
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
}

header {
    border: 1px solid black;
    color: blueviolet;
    padding: 10px;
    margin-bottom: 1px;
}

form {
    padding: 5px;
}

label{
    display: block;
    padding: 5px;
    margin-top: 40px;
    
}

input{
    padding: 10px;
    border-radius: 8px;
} 

#form-borda{
    border:1px solid black;
    padding: 10px;
    overflow: auto;
}

.form-usuario{
    text-align: right;
}

.send{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin-top: 20px;
}

button{
    font-size: 25px;
    font-weight: bold;
    padding-right: 15px;
    background-position: 1px;
    background-color:aliceblue;
}

li {
    list-style-type: none;
}
